{% extends 'idea/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_form.css' %}">
{% endblock %}

{% block intro %}
<span class="title">Idea Register</span>
<span class="description">아이디어 등록 페이지 입니다. 당신의 아이디어를 잊지 말고 기록하세요!</span>
{% endblock %}

{% block main %}
<form action="{% url 'posts:idea_create' %}" method="post" class="tool-form" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        <li>
            <label for="idea-title">아이디어명:</label>
            <input name="title" id="idea-title" />
        </li>
        <li>
            <label for="idea-image">Image:</label>
            <input name="image" type="file" id="idea-image" />
        </li>
        <li>
            <label for="idea-content">아이디어 설명:</label>
            <textarea name="content" id="idea-content" cols="50" rows="5"></textarea>
        </li>
        <li>
            <label for="idea-interest">아이디어 관심도:</label>
            <input name="interest" id="idea-interest" />
        </li>
        <li>
            <label for="idea-devtool">예상 개발툴:</label>
            <select name="devtool" class="tool-select" id="idea-devtool">
                <option value="none">--------</option>
                {% for tool in tools %}
                <option value="{{ tool.id }}">{{ tool.name }}</option>
                {% endfor %}
            </select>
        </li>
    </ul>
    <div class="btn-container">
        <input type="submit" value="SUBMIT" class="submit-btn"/>
    </div>
</form>
{% endblock %}