{% extends 'idea/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_form.css' %}">
{% endblock %}

{% block intro %}
<span class="title">Idea Detail Update</span>
<span class="description">아이디어 세부내용 수정 페이지 입니다. 아이디어를 구체화하거나 내용을 변경해 보아요.</span>
{% endblock %}

{% block main %}
<form action="{% url 'posts:idea_update' idea.pk %}" method="post" class="tool-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="btn-container">
        <input type="submit" value="SUBMIT" class="submit-btn"/>
    </div>
</form>
{% endblock %}