{% extends 'idea/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/idea_list.css' %}">
{% endblock %}

{% block intro %}
<span class="title">Idea List</span>
<span class="description">나의 아이디어를 잊지 말고 기록해보세요</span>
{% endblock %}

{% block main %}
    <div class="idea-list">
    {% for idea, tool in ideas_and_devtool %}
    <div class="idea">
        <form action="{% url 'posts:like' idea.pk %}">
            {% if user in idea.like_users.all %}
            <button><i class="fa-solid fa-star"></i></button>
            {% else %}
            <button><i class="fa-regular fa-star"></i></button>
            {% endif %}
        </form>
        {% if idea.image %}
            <p>
                <img src="{{ idea.image.url }}" style="width: 100px; height: 100px;">
            </p>
        {% endif %}
        <a href="{% url 'posts:idea_detail' idea.pk %}">{{ idea.title }}</a>
        {{ tool.name }}
        <div class="interest-btn">
            <form action="{% url 'posts:down' idea.pk %}" class="btn">
                <button>-</button>
            </form>
            {{ idea.interest }}
            <form action="{% url 'posts:up' idea.pk %}" class="btn">
                <button>+</button>
            </form>
        </div>
    </div>
        {% endfor %}
    </div>
{% endblock %}