{% extends 'idea/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tool_detail.css' %}">
{% endblock %}

{% block intro %}
<span class="title">DevTool Detail</span>
<span class="description">개발툴 세부내용 페이지 입니다. 자신이 다룰 수 있는 개발툴에 대한 상세내용을 확인해 보아요.</span>
{% endblock %}

{% block main %}
<div>
    {{ tool.name }}
    <hr />
    <br />
    {{ tool.kind }}
    <hr />
    <br />
    {{ tool.content }}
    <hr />
    <br />
    만들 수 있는 sw 목록
    <br />
    {% for idea in ideas %}
        <a href="{% url 'posts:idea_detail' idea.pk %}">{{ idea.title }}</a>
    {% endfor %}
    <hr />
    <br />
    <div class="btns">
        <form action="{% url 'posts:tool_delete' tool.pk %}", method="post">
            {% csrf_token %}
            <input type="submit" value="삭제" class="btn">
        </form>
        <button class="btn"><a href="{% url 'posts:tool_list' %}">목록</a></button>
        <button class="btn"><a href="{% url 'posts:tool_update' tool.pk %}">수정</a></button>
    </div>
</div>
{% endblock %}
