{% extends 'idea/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_form.css' %}">
{% endblock %}

{% block intro %}
<span class="title">DevTool Detail Update</span>
<span class="description">개발툴 세부내용 수정 페이지 입니다. 개발툴에 대해 수정사항이 있으면 고쳐보아요.</span>
{% endblock %}

{% block main %}
<form action="{% url 'posts:tool_update' tool.pk %}" method="post" class="tool-form">
    {% csrf_token %}
    <ul>
        <li>
            <label for="tool-name">이름:</label>
            <input name="name" id="tool-name" value="{{ tool.name }}" />
        </li>
        <li>
            <label for="tool-kind">종류:</label>
            <input name="kind" id="tool-kind" value="{{ tool.kind }}" />
        </li>
        <li>
            <label for="tool-content">개발툴 설명:</label>
            <textarea name="content" id="tool-content" cols="50" rows="8">{{ tool.content }}</textarea>
        </li>
    </ul>
    <div class="btn-container">
        <input type="submit" value="SUBMIT" class="submit-btn"/>
    </div>
</form>
{% endblock %}