h1, h2, h3, h4, h5, h6, p, span, a{
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-image: url("../image/bg_img.jpg");
    background-repeat: no-repeat;
    object-fit: fill;
    padding-top: 65px;  
}

.navbar{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar::after{
    content: "";
    position: absolute;
    background-color: rgb(129, 129, 129);
    height: 1px;
    width: 100%;
    bottom: -1px;
}

.logo{
    margin-left: 70px;
    font-size: 20px;
    font-weight: bold;
}

.navbar a{
    color: white;
}

.logo span{
    color: rgb(220, 250, 151);
}

.nav-btns{
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav-btn{
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
}

.body-container{
    background-color: rgba(126, 126, 126, 0.7);
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.title{
    color: rgb(220, 250, 151);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description{
    color: white;
    font-size: 14px;
}

.content-container{
    width: 100%;
}