{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirostagram</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/ea81cbc1a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="{% url 'posts:create' %}">글 작성하기</a>
    <div class="page">
        {% for post, comments in post_and_comment %}
        <div class="container post-id-{{ post.id }}">
            <div class="account">
                <span>{{ post.user }}</span>
                <form action="{% url 'posts:delete' post.pk %}", method="post">
                    {% csrf_token %}
                    <input type="submit" value="삭제" class="btn">
                </form>
            </div>
            <img src="{% static 'image/img.png' %}" />
            {% if post.pressed %}
            <div class="heart-btn">
                <i class="fa-solid fa-heart" onclick="onClickLike({{ post.id }}, 'dislike')"></i>
                <span class="like-count">좋아요 {{ post.like }}개</span>
            </div>
            {% else %}
            <div class="heart-btn">
                <i class="fa-regular fa-heart" onclick="onClickLike({{ post.id }}, 'like')"></i>
                <span class="like-count">좋아요 {{ post.like }}개</span>
            </div>
            {% endif %}
            <span>{{ post.content }}</span>
            <hr />
            <div class="comment-container comment-for-{{ post.id }}">
                {% for comment in comments %}
                <div class="comment comment-id-{{ comment.id }}">
                    <p>{{ comment.content }}</p>
                    <input type="button" class="delete-comment" value="삭제" onclick="onClickDeleteComment({{ post.id }}, {{ comment.id }})" />
                </div>
                {% endfor %}
            </div>
            <textarea class="comment-content-{{ post.id }}" cols="25" rows="2" placeholder="댓글 입력"></textarea>
            <input type="button" class="create-comment" value="게시" onclick="onClickCreateComment({{ post.id }})" />
        </div>
        {% endfor %}
    </div>
    <script>
        const requestLike = new XMLHttpRequest();

        const onClickLike = (id, type) =>{
            const url = "/like_ajax/";
            requestLike.open("POST", url, true);
            requestLike.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            requestLike.send(JSON.stringify({id:id, type:type}));
        };

        requestLike.onreadystatechange = () => {
            if(requestLike.readyState === XMLHttpRequest.DONE){
                if(requestLike.status < 400){
                    const {id, type, num} = JSON.parse(requestLike.response);
                    const element = document.querySelector(`.post-id-${id} .heart-btn`);
                    if(type == 'like'){
                        element.innerHTML = `
                        <i class="fa-solid fa-heart" onclick="onClickLike(${id}, 'dislike')"></i>
                        <span class="like-count">좋아요 ${Number(num)}개</span>
                        `
                    }
                    else{
                        element.innerHTML = `
                        <i class="fa-regular fa-heart" onclick="onClickLike(${id}, 'like')"></i>
                        <span class="like-count">좋아요 ${Number(num)}개</span>
                        `
                    }
                }
            }
        };

        const requestComment = new XMLHttpRequest();

        const onClickCreateComment = (id) =>{
            const url = "/comment_ajax/";
            content = document.querySelector(`.comment-content-${id}`).value;
            requestComment.open("POST", url, true);
            requestComment.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            requestComment.send(JSON.stringify({id:id, content:content}));
        };

        requestComment.onreadystatechange = () => {
            if(requestComment.readyState === XMLHttpRequest.DONE){
                if(requestComment.status < 400){
                    const {post_id, comment_id, content} = JSON.parse(requestComment.response);
                    document.querySelector(`.comment-content-${post_id}`).value = '';
                    const element = document.querySelector(`.comment-for-${post_id}`);
                    const originHTML = element.innerHTML;
                    element.innerHTML = originHTML + `
                    <div class="comment comment-id-${comment_id}">
                        <p>${content}</p>
                    <input type="button" class="delete-comment" value="삭제" onclick="onClickDeleteComment(${post_id}, ${comment_id})" />
                    </div>
                    `
                }
            }
        };

        const requestDelete = new XMLHttpRequest();

        const onClickDeleteComment = (post_id, comment_id) => {
            const url = "/delete_ajax/";
            requestDelete.open("POST", url, true);
            requestDelete.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            requestDelete.send(JSON.stringify({post_id:post_id, comment_id:comment_id}));
        };

        requestDelete.onreadystatechange = () => {
            if(requestDelete.readyState === XMLHttpRequest.DONE){
                if(requestDelete.status < 400){
                    const {post_id, comment_id} = JSON.parse(requestDelete.response);
                    const comment_div = document.querySelector(`.comment-for-${post_id} .comment-id-${comment_id}`);
                    comment_div.remove();
                }
            }
        };
    </script>
</body>
</html>