{% extends 'posts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/posts_create.css' %}">
{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="edit-container">
            <div class="edit-title">
                <h1>Movie review</h1>
            </div>
            <form action="/posts/create" method="post" class="edit-main">
                {% csrf_token %}
                <hr />
                <ul>
                    <li>
                        <p>제목: </p>
                        <input name="title" />
                    </li>
                    <li>
                        <p>개봉년도: </p> 
                        <input name="year" />
                    </li>
                    <li>
                        <p>장르: </p>
                        <select name="genre" class="genre-select">
                            <option value="none">--------</option>
                            {% for genres in genre_list %}
                            <option value="{{ genres.0 }}">{{ genres.1 }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <p>별점: </p>
                        <input name="rate" />
                    </li>
                    <li>
                        <p>러닝타임: </p>
                        <input name="running_time" />
                    </li>
                    <li>
                        <p>리뷰: </p>
                        <textarea name="review" id="" cols="70" rows="10"></textarea>
                    </li>
                    <li>
                        <p>감독: </p>
                        <input name="director" />
                    </li>
                    <li>
                        <p>주연: </p>
                        <input name="main_actor" />
                    </li>
                </ul>
                <div class="save-btn">
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}